<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Rubik:wght@400;700&display=swap" rel="stylesheet">
</head>
<form autocomplete="off">
    <div class="logo-div">
        <div class="godice-flavor">
            <h2 class="godice-flavor-header">Playing on a secured server?</h2>
        </div>
        <div class="godice-formula">Try one of these options</div>
        <img class="godice-logo" src="modules/godice/artwork/GoDiceLogo.svg" width="90px" height="90px">
    </div>
    <div class="godice-options">
        <div class="option-container">
            <span class="godice-option-title">1. Change site settings to enable the connection</span>
            <br><div class="godice-option-hint">Allowing unsecured content is possible on the Chrome browser, and on other Chromium-based browsers such as Microsoft Edge. At the moment it is not possible inside the FoundryVTT App.</div>
            <a style="text-decoration:none" class="godice-button" href="https://drive.google.com/file/d/15_zV6vE4VALAX7Bk5vbQeGhhwiJc67Fc/view?usp=drive_link" target="_blank">How to change <b>site settings?</b></a>
        </div>
        <div class="option-container">
            <span class="godice-option-title">2. Enable SSL mode on the app and accept godice-connector.com certificate</span>
            <br><div class="godice-option-hint">At the moment, this method works with windows only. Click this button above for a how-to tutorial.</div>
            <a style="text-decoration:none" class="godice-button" href="https://drive.google.com/file/d/15Ksa4JAfPP_M0fW2-32sEUHTvPg5ybz1/view?usp=drive_link">How to accept <b>godice-connector.com</b></a>
        </div>
    </div>
    <div class="godice-support-text-div">
        <span class="godice-support-text-title">Need any help?</span>
        <div class="godice-support-text-hint">
            Want to send us some feedback, or simply wanna say Hi?<br>
            Feel free to contact us :)
        </div>
        <a style="text-decoration:none" class="godice-button godice-support-button" href="https://support.particula-tech.com/hc/en-us/requests/new"><b>Contact GoDice Support</b></a>
    </div>
    

 </form>
