#godice-resolver {
  color: white;
  font-family: 'Rubik', sans-serif !important; 

  .window-header {
    background: #006AABB0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: none !important;
  }

  .window-content {
    background: #E3E3E3;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

  }

  .ok {
    position: relative;
    left: 35%;
    margin-top: 4px;
    font-size: var(--font-size-20);
    background: #1874AD;
    color: white;
    width: 30%;
    border: none;
    box-shadow: 0px 4px #26668F;
    margin: 15px;
    margin-top: 20px;
    vertical-align: middle;
  }

  .ok:hover {
    box-shadow: 0px 4px #26668F;
  }

  .dice-roll {
    margin-right: 20px;
    width: 60%;
    height: 90px;

    .godice-flavor {
      position: relative;
      padding-left: 0.5rem;
      margin-left: 0.5rem;
      vertical-align: bottom;
      height: 50%;

      .godice-flavor-header {
        position: absolute;
        font-size: var(--font-size-20);
        bottom: 0;
        border-bottom: solid 1px black;
      }
    }

    .godice-formula {
      padding-left: 0.5rem;
      margin-left: 0.5rem;  
      color: #696969;
      font-size: var(--font-size-20);
      flex-basis: 100%;
      height: 50%;
    }

    .godice-logo {
      border: none;
      position: absolute;
      right: 15px;
    }
  }


  .terms-container {
    background: #D8D8D8;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: auto;
    padding-right: auto;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    left: 12.5%;
    border-radius: 15px;

    .terms {
      /** Display a grid of dice terms */
      position: relative;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
  
      /** The Icon should be large and centered */
      i {
        font-size: 3rem;
        text-align: center;
      }
  

      .dice-term {
        flex: 0 0 15%;
        border-radius: 5px;
        padding: 0.5rem;
        margin: 0.5rem;
        position: relative;
        
        .dice-term-image {
          border: none;
          display: block;
        }

        .dice-term-image:not(.fulfilled):not(.fa-spin) {
          filter: invert(1%) saturate(400%) hue-rotate(256deg) brightness(55%) contrast(220%);
          opacity: 39%;
        }

        .dice-term-faces {
          text-align: center;
          position: absolute;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
          top: 23.2px;
          font-weight: 700;
          color: #d7d7d7;

        }

        .dice-term-input {
          background: #bebebe;
          border: none;
          color: #004773;
          font-weight: 700;
          text-align: center;
          margin-top: 11px;
        }
  
        .dice-term-input:focus {
          box-shadow: none;
        }

        .dice-term-input::placeholder {
          opacity: 0;
        }
  
        &.fulfilled {
          border-color: #075207;

          .dice-term-image {
            transform: scale(1.2);
          }

          .dice-term-faces {
            color: #004773 !important;
          }
        }
      }
    }
  }

}

#help-guide {
  color: white;
  font-family: 'Rubik', sans-serif !important; 
  .window-header {
    background: #006AABB0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: none !important;
  }

  
  .godice-button {
    color: white;
    cursor: pointer;
    appearance: button;
    padding: 1px 6px;
    text-align: center;
    margin-left: 15px;
    margin-top: 6px;
    margin-bottom: 15px;
    line-height: 33px;
    font-size: 12pt;
    font-family: 'Rubik', sans-serif !important; 
    background-color: #1973AA;
    border-radius: 6px;
    border: 2px solid #135680;
    width: 320px;
    height: 42px;
  }

  .godice-button:hover {
    box-shadow: 0px 0px 3px #348cc2;
    text-shadow: 0 0 8px #348cc2;
  }

  .window-content {
    background: #E3E3E3;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

  }

  .logo-div {
    margin-right: 20px;
    width: 60%;
    height: 90px;

    .godice-flavor {
      position: relative;
      padding-left: 0.5rem;
      margin-left: 0.5rem;
      vertical-align: bottom;
      height: 50%;

      .godice-flavor-header {
        position: absolute;
        font-size: var(--font-size-20);
        bottom: 0;
        border-bottom: solid 1px black;
      }
    }
    .godice-formula {
      padding-left: 0.5rem;
      margin-left: 0.5rem;  
      color: #696969;
      font-size: var(--font-size-20);
      flex-basis: 100%;
      height: 50%;
    }

    .godice-logo {
      border: none;
      position: absolute;
      top: 27px;
      right: 15px;
    }
  }

  .godice-options {
    background: #D8D8D8;
    padding-top: 28px;
    padding-bottom: 26px;
    padding-left: 32px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    left: 7.5%;
    border-radius: 15px;

    .option-container {

      .godice-option-title {
        font-size: 13pt;
      }

      .godice-option-hint {
        font-size: 10pt;
        color: #363636;
        margin-left: 15px;
        margin-top: 3px;
      }
    }
  }

  .godice-support-text-div {
    position: relative;
    padding-top: 12px;
    left: 7.5%;

    .godice-support-text-title {
      font-size: 13pt;
    }

    .godice-support-text-hint {
      font-size: 10pt;
      color: #363636;
    }
  }

  .godice-support-button {
    position: absolute;
    right: 12%;
    top: 40%;
  }

}
